{% load static %}
<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>{% block title %}{% endblock %}</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apps/assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'apps/assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'apps/assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'apps/assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'apps/assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'apps/assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{% static 'apps/assets/js/config.navbar-vertical.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'apps/assets/lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'apps/assets/lib/owl.carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'apps/assets/lib/raty-js/jquery.raty.css' %}" rel="stylesheet">
    <link href="{% static 'apps/assets/css/theme.css' %}" rel="stylesheet">

</head>


<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">


    <div class="container" data-layout="container">
        <nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
            <div class="d-flex align-items-center">
                <div class="toggle-icon-wrapper">

                    <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip"
                            data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
                            class="toggle-line"></span></span></button>

                </div>
                <a class="navbar-brand" href="{% url 'product_list_page' %}">
                    <div class="d-flex align-items-center py-3"><img class="mr-2"
                                                                     src="{% static 'apps/assets/img/illustrations/falcon.png' %}"
                                                                     alt=""
                                                                     width="40"/><span
                            class="text-sans-serif">{{ site_name }}</span>
                    </div>
                </a>

            </div>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
                <div class="navbar-vertical-content perfect-scrollbar scrollbar">
                    <ul class="navbar-nav flex-column">

                        {% for category in categories %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'product_list_page' %}?category={{ category.pk }}">
                                    <div class="d-flex align-items-center">
                                        {#                                        <span class="nav-link-icon">#}
                                        {#                                            <span class="fas fa-comments">#}
                                        {#                                            </span>#}
                                        {#                                        </span>#}
                                        <span class="nav-link-text"> {{ category.name }}</span>
                                    </div>
                                </a>
                            </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
        </nav>
        <div class="content">
            <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

                <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button"
                        data-toggle="collapse" data-target="#navbarVerticalCollapse"
                        aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation">
                    <span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
                <a class="navbar-brand mr-1 mr-sm-3" href="../index.html">
                    <div class="d-flex align-items-center"><img class="mr-2"
                                                                src="{% static 'apps/assets/img/illustrations/falcon.png' %}"
                                                                alt=""
                                                                width="40"/><span class="text-sans-serif">falcon</span>
                    </div>
                </a>
                <ul class="navbar-nav align-items-center d-none d-lg-block">
                    <li class="nav-item">
                        <div class="search-box">
                            <form class="position-relative" action="{% url 'product_list_page' %}">
                                <input class="form-control search-input" name="search" type="search" placeholder="Search..."
                                       aria-label="Search"/>
                                <span class="fas fa-search search-box-icon"></span>
                            </form>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link px-3 py-0" href="https://prium.github.io/falcon/v3.0.0-beta6/"
                           target="_blank"><img src="{% static 'apps/assets/img/logos/bootstrap-5.png' %}" alt=""
                                                height="35"/></a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            {% if user.carts.count %}
                                <a class="nav-link px-0 notification-indicator notification-indicator-warning notification-indicator-fill icon-indicator"
                                   href="{% url 'shopping_cart_page' %}">
                                    <span class="fas fa-shopping-cart fs-4" data-fa-transform="shrink-7"></span>
                                    <span class="notification-indicator-number">{{ user.carts.count }}</span>
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown dropdown-on-hover">
                        <a class="nav-link notification-indicator notification-indicator-primary px-0 icon-indicator"
                           id="navbarDropdownNotification" href="#" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4"
                                                                            data-fa-transform="shrink-6"></span></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-card"
                             aria-labelledby="navbarDropdownNotification">
                            <div class="card card-notification shadow-none" style="max-width: 20rem">
                                <div class="card-header">
                                    <div class="row justify-content-between align-items-center">
                                        <div class="col-auto">
                                            <h6 class="card-header-title mb-0">Notifications</h6>
                                        </div>
                                        <div class="col-auto"><a class="card-link font-weight-normal" href="#">Mark all
                                            as read</a></div>
                                    </div>
                                </div>
                                <div class="list-group list-group-flush font-weight-normal fs--1">
                                    <div class="list-group-title border-bottom">NEW</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush bg-200" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl mr-3">
                                                    <img class="rounded-circle"
                                                         src="{% static 'apps/assets/img/team/1-thumb.png' %}"
                                                         alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Emma Watson</strong> replied to your comment :
                                                    "Hello world 😍"</p>
                                                <span class="notification-time"><span class="mr-1" role="img"
                                                                                      aria-label="Emoji">💬</span>Just now</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush bg-200" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl mr-3">
                                                    <div class="avatar-name rounded-circle"><span>AB</span></div>
                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1"><strong>Albert Brooks</strong> reacted to <strong>Mia
                                                    Khalifa's</strong> status</p>
                                                <span class="notification-time"><span
                                                        class="mr-1 fab fa-gratipay text-danger"></span>9hr</span>

                                            </div>
                                        </a>

                                    </div>
                                    <div class="list-group-title">EARLIER</div>
                                    <div class="list-group-item">
                                        <a class="notification notification-flush" href="#!">
                                            <div class="notification-avatar">
                                                <div class="avatar avatar-2xl mr-3">
                                                    <img class="rounded-circle"
                                                         src="{% static 'apps/assets/img/icons/weather-sm.jpg' %}"
                                                         alt=""/>

                                                </div>
                                            </div>
                                            <div class="notification-body">
                                                <p class="mb-1">The forecast today shows a low of 20&#8451; in
                                                    California. See today's weather.</p>
                                                <span class="notification-time"><span class="mr-1" role="img"
                                                                                      aria-label="Emoji">🌤️</span>1d</span>

                                            </div>
                                        </a>

                                    </div>
                                </div>
                                <div class="card-footer text-center border-top"><a class="card-link d-block"
                                                                                   href="../pages/notifications.html">View
                                    all</a></div>
                            </div>
                        </div>

                    </li>
                    <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link pr-0" id="navbarDropdownUser"
                                                                       href="#" role="button" data-toggle="dropdown"
                                                                       aria-haspopup="true" aria-expanded="false">
                        <div class="avatar avatar-xl">
                            <img class="rounded-circle" src="{% static 'apps/assets/img/team/3-thumb.png' %}" alt=""/>

                        </div>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                            <div class="bg-white rounded-soft py-2">
                                {% if user.is_authenticated %}
                                    <a class="dropdown-item font-weight-bold text-warning" href="#!"><span
                                            class="fas fa-crown mr-1"></span><span>Go Pro</span></a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#!">Set status</a>
                                    <a class="dropdown-item" href="../pages/profile.html">Profile &amp; account</a>
                                    <a class="dropdown-item" href="#!">Feedback</a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="../pages/settings.html">Settings</a>
                                    <a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a>
                                {% else %}
                                    <a class="dropdown-item" href="{% url 'login_page' %}">Login</a>
                                    <a class="dropdown-item" href="{% url 'register_page' %}">Register</a>
                                {% endif %}

                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            {% block content %}
            {% endblock %}
            <footer>
                <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">Thank you for creating with Falcon <span
                                class="d-none d-sm-inline-block">| </span><br class="d-sm-none"/> 2021 &copy; <a
                                href="https://themewagon.com">Themewagon</a></p>
                    </div>
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600">v2.8.2</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->


<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="{% static 'apps/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'apps/assets/js/popper.min.js' %}"></script>
<script src="{% static 'apps/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/@fortawesome/all.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/stickyfilljs/stickyfill.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/is_js/is.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/lodash/lodash.min.js' %}"></script>
<script src="{% static 'apps/assets/lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap"
      rel="stylesheet">
<script src="{% static 'apps/assets/lib/owl.carousel/owl.carousel.js' %}"></script>
<script src="{% static 'apps/assets/lib/raty-js/jquery.raty.js' %}"></script>
<script src="{% static 'apps/assets/js/theme.js' %}"></script>

</body>

</html>